*{
    padding: 0;
    margin: 0;
}
body{
    background-color: red;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact_box{
    background: #ffff;
    display: flex;
}
.contact_left{
    flex-basis: 60%;
    padding: 40px;    
}
.contact_right{
    flex-basis: 40%;
    padding: 40px;
    background: aliceblue;
    color: #0b0101;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100%;
    border: none;
    outline: none;
    color: #ccc;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact_left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact_right h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}